html{
    /* height: 100%; */
    width:100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.navigation_bar{
    /* background: rgba(0,0,0,.8); */
    position: fixed;
    width: 100%;
    background-size: cover;
    /* width: cover; */
    margin: -10px;
    padding-left: 22px;
    padding-top: 2px;
    height: 60px;
    background:#2f4056; 
}

.navigation_bar a{
    position: relative;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    font-size: 15px;
    top: 18.5%;
    margin-left: 2%;
    height: 55%;
    width: 25%;
    text-align: left;
    line-height: 32px;
    vertical-align: middle;
}

.navigation_bar textarea{
    position: relative;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    font-size: 15px;
    top: 18.5%;
    margin-left: 20%;
    height: 55%;
    width: 25%;
    text-align: left;
    line-height: 32px;
    vertical-align: middle;
}

#userInfo{
    position: absolute; 
    display:none; 
    cursor: grab;
    width: 15%;
    height: 30%;
    background-color: rgba(200, 200, 169, 0.801); 
    margin-left: 80%; 
    margin-top: 0%;
    /* margin-top: 60px; */
}

#userInfo a{
    text-decoration: dotted;
    color:rgb(50, 128, 117);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#userInfo button{
    border: none;
    outline: none;
    color:rgb(50, 128, 117);
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#row:hover{
    color: aliceblue;
    background-color: rgb(128, 145, 142);
}

#userInfo button:hover{
    border: none;
    outline: none;
    color:aliceblue;
    background-color: rgb(50, 128, 117);
}

#row {
    width:100%;
    margin-left:0;
    position: relative;
    /* padding-top: 5%; */
    padding-bottom: 5%;
    /* margin-top: -10%; */
    margin-bottom: 40%;
    color: #fff;
    background-color: aliceblue;
}

#search{
    position: relative;
    top: 18.5%;
    height: 65%;
    width: 5%;
    margin-left: -5px;
    background: url(/image/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    vertical-align: middle;
}

#dropdown{
    /* display: inline; */
    background-image: url(/image/drop.jpg);
    margin-top: -30%;
    /* padding-top:2.2%; */
    width: 1.5%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation_bar div{
    display: inline;
    /* background-color: aliceblue;
    color: aliceblue; */
    margin-left: 88%;
    padding-top: 3%; 
    line-height: 100%; 
}

.navigation_bar label{
    /* background-color: aliceblue; */
    /* background-color: black; */
    color: #fff;
    margin-top: 20%;
    /* line-height: 0; */
    vertical-align: top;
    font-style: italic;
    font-size: larger;
}

.navigation_bar a:link{
    text-decoration:none;
    color: rgba(255, 255, 255, 0.7);
}

.navigation_bar a:visited{
    text-decoration:none;
    color:#fff;
}

.navigation_bar a:hover{
    text-decoration:none;
    color:#fff;
}

.leftP{
    position: fixed;
    background-color: rgb(50, 128, 117);
    height:100%;
    width: 20%;
    margin-top: 52px;
    margin-left: -10px;
}

.leftP ul{
    margin-top: 15%;
    height: 85%;
}

.leftP ul li{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    height: 15%;
}

.leftP ul li a{
    text-decoration: none;
    color: rgba(221, 204, 204, 0.884);
}

.leftP ul li ul li{
    display: block;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    height: 25%;
    padding: 0;
}
/* 
.leftP ul li:hover{
    height: 30%;
} */

.leftP ul li ul{
    display: none;
}

#second:hover{
    height: 200px;
}

.leftP ul li:hover ul{
    display: block;
    height: 70%;
}

.rightP {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.7); */
    margin-top: 52px;
    margin-left: 19%;
    width: 80%;
    height: 100%;
}

.rightP div{
    margin-top: 20px;
}

.rightP div header1{
    margin-left: 20px;
    font-size: 1cm;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 10%;
    width: 100%;
}

.rightP div div{
    display: inline;
    margin-left: 20px;
    /* //width:30%; */
    font-size: 0.5cm;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cadetblue;
    border-radius: 5px 5px 0 0;
}

.rightP div select{
    /* display: inline; */
    margin-left: 5%;
    /* padding-top: 50%; */
    /* //width:30%; */
    font-size: 0.5cm;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: cadetblue; */
    border-radius: 5px 5px 0 0;
}

.rightP div label{
    /* display: inline; */
    margin-left: 5%;
    padding-top: 50%;
    /* //width:30%; */
    font-size: 0.5cm;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: cadetblue; */
    border-radius: 5px 5px 0 0;
}

.rightP div textarea{
    /* display: inline; */
    margin-left: 5%;
    width: 30%;
    font-size: 0.5cm;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: cadetblue; */
    border-radius: 5px 5px 0 0;
}

.rightP div table{
    margin-left: 40px;
    margin-top: 20px;
    width: 80%;
}

.rightP div table tr{
    margin-left: 0px;
    width: 100%;
    font-size: 0.5cm;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cadetblue;
    border-radius: 5px 5px 0 0;
}

.rightP div form input[type="submit"]{
    position: relative;
    margin-top: 7%;
    margin-left: 40.5%;
    width: 200px;
    height: 50px;
    font-size: 0.7cm;
    color: rgba(221, 204, 204, 0.884);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(50, 128, 117);
}

#addQ{
    position: relative;
    margin-top: 0%;
    margin-left: 65%;
    width: 200px;
    height: 50px;
    font-size: 0.7cm;
    color: rgba(221, 204, 204, 0.884);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(50, 128, 117);
}

#queryQ{
    position: relative;
    margin-top: 0%;
    margin-left: 65%;
    width: 200px;
    height: 50px;
    font-size: 0.7cm;
    color: rgba(221, 204, 204, 0.884);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(50, 128, 117);
}

#manageAccounts{
    position: relative;
    vertical-align: middle;
    margin-left: 27%;
    width: 50%;
    font-size: 0.4cm;
    font-family: 'Times New Roman', Times, serif;
    background-color: #37ac7f;
}